{% extends "shutterclub/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'landing/css/bootstrap-slider.css' %}" rel="stylesheet">
    <link href="{% static 'landing/css/landing.css' %}" rel="stylesheet">
    <link href="{% static 'landing/css/bootstrap-formhelpers.min.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript">
        function initalize() {
            loadPriceSlider();
        }
        function loadPriceSlider() {
            $('#id_max_price').slider({
                formater: function(value) {
                    return 'I\'d pay: $' + value;
                }
            })
        }        
    </script>
{% endblock %}

{% block content %}
<div class="container-1">
    <div class="container">
    	<div class="carousel">
    	    {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block sub_content %}
            {% endblock %}
        </div><!-- /.carousel -->
    </div><!-- /.container -->
</div><!-- /.container-1 -->
{% endblock %}

{% block footer_js %}
{{ block.super }}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'landing/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'landing/js/bootstrap-formhelpers.min.js' %}"></script>
    <script type="text/javascript">
        window.attachEvent('onload', initalize());
    </script>
{% endblock %}
