/* (c) Lensplease 2014
	Connor Soltas (CEO), Jackson Bierfeldt (CTO)
*/

body
{
	
}

.navbar-default {
	border: none;
	min-height: 40px;
	z-index: 100;
	margin-bottom: -60px;
	background-color: #fff;
}

.navbar-brand {
	padding: 10px 15px;
	height: 40px;
}

.navbar-toggle {
	padding: 5px;
	margin: 7px 15px 7px 0;
}

.icon-bar {
	width: 18px !important;
}

.nav>li>a {
	padding: 10px 15px;
}

h1, h2, h3, h4, h5, h6,
.navbar-brand {
	font-family: 'Lato';
}

.container-1 {
	background: #D9DEE1 url('../../landing/images/bg-heart.png') repeat;
	padding-top: 60px;
	padding-bottom: 80px;
}

.carousel {
	height: 400px;
}

.headline-1 {
	font-weight: 300;
	font-size: 45px;
	text-align: center;
	color: #10161A;
}

.container-2 {
	background-color: #CCD6DA;
	padding: 30px 0;
}

.container-3 {
	padding: 80px 0;
	background: #D9DEE1;
	color: #2D3D46;
}

.headline-3 {
	font-weight: 900;
	font-size: 70px;
	color: #10161A;
}

.container-4 {
	background: #D9DEE1;
	padding: 80px 0;
}

.headline-4 {
	font-weight: 900;
	font-size: 80px;
	color: #fff;
	text-align: center;
}

.container-5 {
	background: #D9DEE1 url('../../landing/images/bg-heart.png') repeat;
	padding: 80px 0;
}

.headline-5 {
	font-weight: 300;
	font-size: 45px;
	color: #10161A;
}

.container-6 {
	background: #CD5151;
	padding: 80px 0;
	color: #2D3D46;
}

.headline-6 {
	font-weight: 300;
	font-size: 45px;
	color: white;
}

.container-7 {
	background: #D9DEE1;
	padding: 80px 0;
}

.headline-7 {
	font-weight: 900;
	font-size: 60px;
	text-align: center;
}

.container-8 {
	background: #bfcdd1;
}

.container-form {
	padding: 0;
}

.nav-tabs {
	margin-bottom: 60px;
}

.nav-tabs>li {
	width: 60%;
}

.nav-tabs.nav-justified>li>a {
	border-radius: 0px;
	border: none;
}

.nav-tabs.nav-justified>li>a {
	background: #D9DEE1;
}

.nav-tabs.nav-justified>li>a:hover {
	background: #CCD6DA;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover {
	border: none;
	background: #bfcdd1;
}

.tab-header {
	color: #10161A;
	font-weight: 300;
	font-size: 45px;
}

.nav-tabs>li>a>h2 {
	color: #2D3D46;
	font-size: 16px;
}

.row-form {
	margin-top: 20px;
}