{% extends "landing/landing_base.html" %}
{% load staticfiles %}

{% block metatags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lensplease the trusted, location-based marketplace for finding and hiring premier amateur photographers.">
    <meta name="keywords" content="lensplease, lens, please, photography, hire, photographers, amateur, amateur photographers, student, student photographers, uchicago, built at uchicago, edge uchicago, marketplace, cheap photography, book photographer, hyde park, university of chicago">
    <meta name="author" content="Connor Soltas and Jackson Bierfeldt">
{% endblock %}

{% block title %}
    ShutterClub
{% endblock %}

{% block shortcuticon %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'landing/images/lp-icon.ico' %}">
{% endblock %}

{% block fonts %}
    <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
{% endblock %}

{% block stylesheets %}
    <link href="{% static 'landing/css/landing.css' %}" rel="stylesheet">
    <link href="{% static 'landing/css/bootstrap-formhelpers.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-1">
    <div class="container">
    	<div class="carousel">
    	    {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block sub_content %}
            {% endblock %}
        </div><!-- /.carousel -->
    	<h1 class="headline-1">Find and Hire Premier Amateur Photographers</h1>
    </div><!-- /.container -->
</div><!-- /.container-1 -->
{% endblock %}
