{% extends "photographer/photographer_base.html" %}
{% load staticfiles %}

    	{% block sub_content %}
    	    <h1>Register to shoot for us!</h1>
    	    <div id="photographerregistration-form">
            {% if form.errors %}
                <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
            {% endif %}
            <form method="post" action="{% url 'photographer_register' %}">
                {% csrf_token %}
                <div class="row row-form">
            		<div class="col-md-3 col-md-offset-3 col-sm-4">
                        {% if form.username.errors %}
                            <p class="errors">{{ form.username.errors.as_text }}</p>
                        {% endif %}
                        {{ form.username }}
            		</div>
            		<div class="col-md-3 col-sm-4">
                        {% if form.email.errors %}
                            <p class="errors">{{ form.email.errors.as_text }}</p>
                        {% endif %}
                        {{ form.email }}
            		</div>
            	</div><!-- /.row -->
            	<div class="row row-form">
            		<div class="col-md-3 col-md-offset-3 col-sm-4">
                        {% if form.password1.errors %}
                            <p class="errors">{{ form.password1.errors.as_text }}</p>
                        {% endif %}
                        {{ form.password1 }}
            		</div>
            		<div class="col-md-3 col-sm-4">
                        {% if form.password2.errors %}
                            <p class="errors">{{ form.password2.errors.as_text }}</p>
                        {% endif %}
                        {{ form.password2 }}
            		</div>
            	</div><!-- /.row -->
            	<div class="row row-form">
            		<div class="col-md-3 col-md-offset-3 col-sm-4">
                        {% if form.locaiton.errors %}
                            <p class="errors">{{ form.location.errors.as_text }}</p>
                        {% endif %}
                        {{ form.location }}
            		</div>
            		<div class="col-md-3 col-sm-4">
                        {% if form.affiliation.errors %}
                            <p class="errors">{{ form.affilitation.errors.as_text }}</p>
                        {% endif %}
                        {{ form.affiliation }}
            		</div>
            	</div><!-- /.row -->
                <div class="row-row-form">
            		<div class="col-md-6 col-md-offset-3 col-sm-12">
            			<button type="submit" class="submit-request">Send</button>
            		</div>
            	</div><!-- /.row -->
            </form>
            </div><!-- /#photographerregistration-form -->
        {% endblock %}
