{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Lensplease is a service which allows consumers to hire amateur, experienced, photographers for cheap!">
	<meta name="keywords" content="lensplease, lens, please, photography, services, hire, photographers, amateur, amateur photographers, student, student photographers, uchicago, built at uchicago">
    <meta name="author" content="">

    <title>Lensplease</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'landing/css/bootstrap.css' %}" rel="stylesheet">
    
    <!-- Specific welcome page CSS -->
    <link href="{% static 'landing/css/landing.css' %}" rel="stylesheet">
    
    <!-- Load fonts (Londrina Outline, Kreon) for landing page -->
    <link href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
  
  <div class="pane-1">
      <div class="container">
  		
  		<div class="banner">
  			<span>lensplease</span>
  		</div>
  		
  		<h2><span>hire student photographers.</span></h2>
  		<h3><span>cheaper, better, and faster than the pros.</span></h3>
  		
  		{% if email_success %}
    			<p class="lead text-center">
    				<div class="alert alert-success" style="margin-top: 5px;">Thanks! We'll notify you soon!</div>
				</p>
			{% else %}
				<form class="form-inline" role="form" action="{% url 'landing' %}" method="post">
			   		{% csrf_token %}
			   		{{ form.non_field_errors }}
			    	<div class="form-group {% if form.email.errors %}has-error{% endif %}">
			    		<label class="sr-only" for="input-email">email address</label>
			    		<input type="email" class="form-control" id="input-email" name="email" {% if form.email.errors %}value="{{ form.email.value }}" {% endif %} placeholder="enter email address">
			    	</div>
			    	<div class="form-group">
			    		<button class="btn btn-primary">get early access</button>
			    	</div>
			    	{% if form.email.errors %}
			    		<div class="alert alert-danger" style="margin-top: 5px;">{{ form.email.errors | striptags }}</div>
					{% endif %}
				</form>
			{% endif %}
      </div><!-- /container -->
  </div><!-- /pane-1 -->
  
  <div class="pane-2">
	  <div class="container">
		  	<h4 class="grey">where do <span>you</span> go to get photos?</h4>
	  </div><!-- /container -->
  </div><!-- /pane-2 -->
  
  <div class="pane-3">
      <div class="container">
	  	<div class="row">
	  		<div class="col-md-offset-4">
	  			<h4>lensplease is <span>nice to your wallet.</span></h4>
	  			<!--<h4><span>the problem:</span> professional photography is nice, but not to your wallet.</h4>
	  			<p class="p-detail">Plus, searching generic freelancer networks takes time. There's zero organization, no way to compare, and no way to find what you actually want.</p>
	  		</div>
	  		<div class="col-md-offset-5">
	  			<h4>that's why we started <span>lensplease.</span></h4>
	  			<p class="p-detail">
	  				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	  			</p>
	  			<p class="p-detail">
	  				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	  			</p>-->
	  		</div><!-- /col -->
	  	</div><!-- /row -->
	  	<div class="row">
	  		<div class="col-md-offset-5">
	  			<p class="p-detail">
	  				Professional photography is expensive. We leverage student photographers who have serious equipment and top skills to give you the high quality you want, but at 50% - 80% discounts.
	  			</p>
	  			<p class="p-detail">
	  				Think of it this way: now it's like everyone has a talented photographer friend. Never worry about having the right headshot for that application again. Or about getting your organization's events covered. Or anything, really.
	  			</p>
	  		</div>
	  	</div><!-- /row -->
      </div><!-- /container -->
  </div><!-- /pane-3 -->
  
  <div class="pane-4">
	  <div class="container">
    		<h4 style="color: #fff" class="text-left">easy.</h4>
    		<div class="row">
    			<div class="col-md-3">
    				<span class="glyphicon glyphicon-eye-open"></span>
	    			<h1 class="brown-label">browse</h1>
	    			<p class="p-detail">Browse the portfolios of photographers near you, sorted by location and rating. Search by price range, experience, and even equipment.
	    			</p>
    			</div>
    			<div class="col-md-3">
    				<span class="glyphicon glyphicon-comment"></span>
	    			<h1 class="brown-label">contact</h1>
	    			<p class="p-detail">Reach out instantly to photographers you like with Lensplease's in-app messenger. Manage the details of your project online.
	    			</p>
    			</div>
    			<div class="col-md-3">
    				<span class="glyphicon glyphicon-calendar"></span>
	    			<h1 class="brown-label">book</h1>
	    			<p class="p-detail">Credit card integration means you don't have to worry about having cash on hand.
	    			</p>
    			</div>
    			<div class="col-md-3">
    				<span class="glyphicon glyphicon-download-alt"></span>
	    			<h1 class="brown-label">buy</h1>
	    			<p class="p-detail">Zero hassle. Completed photos are uploaded privately to you. All you have to do is hit 'download.' Done.
	    			</p>
    			</div>
    		</div> <!-- /row -->
    	</div> <!-- /container -->  
    </div><!-- /pane-4 -->
    
    <div class="pane-5">
	    <div class="container">
		    <h4 style="margin-bottom: 55px;">gets you better photos.</h4>
		    <div class="row">
		    	<div class="col-md-8">
		    		<h5>when you have more options, you can find just what you're looking for.</h5>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-md-6">
	  				<p class="p-detail">
	  					Lensplease lets you easily pinpoint student photographers with the skills and equipment you need at the rates you want. So you actually find what you're looking for, rather than paying too much for photos you don't love.
	  					</p>
	  				<p class="p-detail">
	  					Oh, and all the photos on this website? They're taken by students who are available through Lensplease.
	  				</p>
	  			</div><!-- /col -->
	  		</div><!-- /row -->
	    </div><!-- /container -->
    </div><!-- /pane-5 -->
    
    <div class="pane-6">
    	<div class="container">
	    	<h4 style="color: #fff;">contact us!</h4>
	    	<p style="color: #444;">Got a question for us? Email Connor Soltas (CEO) at <a href="mailto:csoltas@gmail.com">csoltas@gmail.com</a>.
	    	<p class="pull-left copyright" style="margin-top: 80px;">&copy; Lensplease 2014. All rights reserved.</p>
    	</div>
    </div>
  
  <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
  </body>
</html>
