{% extends "shutterclub/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'landing/css/bootstrap-slider.css' %}" rel="stylesheet">
    <link href="{% static 'landing/css/landing.css' %}" rel="stylesheet">
    <link href="{% static 'landing/css/bootstrap-formhelpers.min.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript">
        function initalize() {
            loadPriceSlider();
        }
        function loadPriceSlider() {
            $('#id_max_price').slider({
                formater: function(value) {
                    return 'I\'d pay: $' + value;
                }
            })
        }        
    </script>
{% endblock %}

{% block content %}
{{ block.super }}
<!-- CAROUSEL -->
		<div class="container-1">
			<div class="container">
				<div class="carousel">
				</div><!-- /.carousel -->
				<h1 class="headline-1">Find and Hire Premier Amateur Photographers</h1>
			</div><!-- /.container -->
		</div><!-- /.container-1 -->
		
		
		<!-- PRESS -->
		<div class="container-2">
			<div class="container">
				<p>If we had press, it'd go here</p>
				<p>
				    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
				</p>
			</div><!-- /.container -->
		</div><!-- /.container-2 -->
		
		
		<!-- NEAR YOU -->
		<div class="container-3">
			<div class="container">
				
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6">
						<h1 class="headline-3">NEAR YOU</h1>
						<p>Location based blah-blah.</p>
					</div>
				</div><!-- /.row -->
				
				<div class="row">
					<div class="col-sm-6">
					</div>
					<div class="col-sm-6">
						<h1 class="headline-3">SIDE-BY-SIDE</h1>
						<p>Comparison blah-blah freedom blah.</p>
					</div>
				</div><!-- /.row -->
			
			</div><!-- /.container -->
		</div><!-- /.container-3 -->
		
		<!-- HAVE A CONVERSATION -->
		<div class="container-4">
			<div class="container">
				<h1 class="headline-4">HAVE A CONVERSATION</h1>
			</div><!-- /.container -->
		</div><!-- /.container-4 -->
		
		
		<!-- FLOWCHART -->
		<div class="container-5">
			<div class="container">
				
				<div class="row">
					<div class="col-md-6">
						<h1 class="headline-5">Lensplease handles the risk, so you don't have to</h1>
					</div>
				</div><!-- /.row -->
				
				<div class="row">
					<div class="col-xs-12">
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.container-5 -->
		
		
		<!-- CLOUD STORAGE -->
		<div class="container-6">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-6 col-md-6">
						<h1 class="headline-6">Stored in the cloud, so you can get high quality without enormous email attachments</h1>
					</div>
				</div><!-- /.row -->
				
				<h2 class="text-center">View your finished photos on any device</h2>
			</div><!-- /.container -->
		</div><!-- /.container-6 -->
		
		
		<!-- BIG PHOTO -->
		<div class="container-7">
			<div class="container">
				<h1 class="headline-7">EASY, SECURE, AND MORE AFFORDABLE THAN EVER BEFORE</h1>
			</div><!-- /.container -->
		</div><!-- /.container-7 -->
		
		<!-- CONTACT FORM -->
		<div class="container-8">
			<div class="container-fluid container-form">
			
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li class="active">
						<a href="#request-form">
							<h1 class="tab-header">Request a photographer now</h1>
							<h2>Or just drop us a note, friend!</h2>
						</a>
					</li>
					<li>
						<a href="#photographerregistration-form">
							<h1 class="tab-header">I'm a photographer</h1>
							<h2>We'll send out jobs frequently and we're easy to discuss payment with.</h2>
						</a>
					</li>
				</ul>
			
				
                <div id="request-form">
                {% if photographerrequest_form.errors %}
                    <p class="errors">Please correct the errors below: {{ photographerrequest_form.non_field_errors }}</p>
                {% endif %}
                <form action="{% url 'photographerrequest_create' %}" method="post" id="request-form-form">
                {% csrf_token %}
			    	<div class="row row-form">
			    		<div class="col-md-2 col-md-offset-3 col-sm-4">
			    		    {{ photographerrequest_form.first_name.errors }}
			    			{{ photographerrequest_form.first_name }}
			    		</div>
			    		<div class="col-md-2 col-sm-4">
			    		    {{ photographerrequest_form.last_name.errors }}
			    			{{ photographerrequest_form.last_name }}
			    		</div>
			    		<div class="col-md-2 col-sm-4">
			    		    {{ photographerrequest_form.email.errors }}
			    			{{ photographerrequest_form.email }}
			    		</div>
			    	</div><!-- /.row -->
			    	
			    	<div class="row row-form">
			    		<div class="col-md-3 col-md-offset-3 col-sm-4">
			    		    {{ photographerrequest_form.city.errors }}
			    			{{ photographerrequest_form.city }}
			    		</div>
			    		<div class="col-md-3 col-sm-4">
			    		    {{ photographerrequest_form.phone.errors }}
			    			{{ photographerrequest_form.phone }}
			    		</div>
			    	</div><!-- /.row -->
			    	
			    	<div class="row row-form">
			    		<div class="col-md-3 col-md-offset-3 col-sm-4">
			    		    {{ photographerrequest_form.organization.errors }}
			    			{{ photographerrequest_form.organization }}
			    		</div>
			    		<div class="col-md-3 col-sm-4">
			    		    {{ photographerrequest_form.date_needed.errors }}
			    			{{ photographerrequest_form.date_needed }}
			    		</div>
			    	</div><!-- /.row -->
			    					
			    	<div class="row row-form">
                        <div class="col-md-6 col-md-offset-3 col-sm-12">
			    		    {{ photographerrequest_form.message.errors }}
			    			{{ photographerrequest_form.message }}
			    		</div>
			    	</div><!-- /.row -->
			    	
			    	<div class="row row-form">
			    		<div class="col-md-6 col-md-offset-3 col-sm-4">
			    		    <div class="row">
			    		        <div class="col-md-2">
                                    <strong>I'd pay up to: </strong>
                                </div>
                                <div class="col-md-10">
                                    <strong>$10</strong>
                                    {{ photographerrequest_form.max_price.errors }}
                                    {{ photographerrequest_form.max_price }}
                                    <strong>$200</strong>
                                </div>
			    		    </div>
			    		</div>
			    	</div><!-- /.row -->
			    					
			    	<div class="row-row-form">
			    		<div class="col-md-6 col-md-offset-3 col-sm-12">
			    			<button type="submit" class="submit-request">Send</button>
			    			<p>This doesn't commit you to anything -- it's just so we can be in touch.</p>
			    		</div>
			    	</div><!-- /.row -->
                </form>
            </div><!-- /#request-form -->
            
                <div id="photographerregistration-form">
                {% if photographerregistration_form.errors %}
                    <p class="errors">Please correct the errors below: {{ photographerregistration_form.non_field_errors }}</p>
                {% endif %}
                <form method="post" action="{% url 'photographer_register' %}">
                    {% csrf_token %}
                    <div class="row row-form">
			    		<div class="col-md-3 col-md-offset-3 col-sm-4">
                            {% if photographerregistration_form.username.errors %}
                                <p class="errors">{{ photographerregistration_form.username.errors.as_text }}</p>
                            {% endif %}
                            {{ photographerregistration_form.username }}
			    		</div>
			    		<div class="col-md-3 col-sm-4">
                            {% if photographerregistration_form.email.errors %}
                                <p class="errors">{{ photographerregistration_form.email.errors.as_text }}</p>
                            {% endif %}
                            {{ photographerregistration_form.email }}
			    		</div>
			    	</div><!-- /.row -->
			    	<div class="row row-form">
			    		<div class="col-md-3 col-md-offset-3 col-sm-4">
                            {% if photographerregistration_form.password1.errors %}
                                <p class="errors">{{ photographerregistration_form.password1.errors.as_text }}</p>
                            {% endif %}
                            {{ photographerregistration_form.password1 }}
			    		</div>
			    		<div class="col-md-3 col-sm-4">
                            {% if photographerregistration_form.password2.errors %}
                                <p class="errors">{{ photographerregistration_form.password2.errors.as_text }}</p>
                            {% endif %}
                            {{ photographerregistration_form.password2 }}
			    		</div>
			    	</div><!-- /.row -->
			    	<div class="row row-form">
			    		<div class="col-md-3 col-md-offset-3 col-sm-4">
                            {% if photographerregistration_form.locaiton.errors %}
                                <p class="errors">{{ photographerregistration_form.location.errors.as_text }}</p>
                            {% endif %}
                            {{ photographerregistration_form.location }}
			    		</div>
			    		<div class="col-md-3 col-sm-4">
                            {% if photographerregistration_form.affiliation.errors %}
                                <p class="errors">{{ photographerregistration_form.affilitation.errors.as_text }}</p>
                            {% endif %}
                            {{ photographerregistration_form.affiliation }}
			    		</div>
			    	</div><!-- /.row -->
                    <div class="row-row-form">
			    		<div class="col-md-6 col-md-offset-3 col-sm-12">
			    			<button type="submit" class="submit-request">Send</button>
                            <p>This doesn't commit you to anything -- it's just so we can be in touch.</p>
			    		</div>
			    	</div><!-- /.row -->
                </form>
            </div><!-- /#photographerregistration-form -->
            
            </div><!-- ./container-fluid -->
				
        </div><!-- /.container-8 -->
{% endblock %}

{% block footer_js %}
{{ block.super }}
    <script type="text/javascript">
        $('ul.nav-tabs').each(function(){
            var $active, $content, $links = $(this).find('a');
            
            // If the location.hash matches one of the links, use that as the active tab.
            // If no match is found, use the first link as the initial active tab.
            $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
            $active.addClass('active');
        
            $content = $($active[0].hash);
            
            // Hide the remaining content
            $links.not($active).each(function () {
                $(this.hash).hide();
            });
            
            // Bind the click event handler
            $(this).on('click', 'a', function(e){
                // Make the old tab inactive.
                $active.removeClass('active');
                $content.hide();
                
                // Update the variables with the new link and content
                $active = $(this);
                $content = $(this.hash);
                
                // Make the tab active.
                $active.addClass('active');
                $content.show();
                
                // Prevent the anchor's default click action
                e.preventDefault();
            });
        });
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'landing/js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'landing/js/bootstrap-formhelpers.min.js' %}"></script>
    <script type="text/javascript">
        window.attachEvent('onload', initalize());
    </script>
{% endblock %}
